<!DOCTYPE html>
<html>
    <head>
        <!--specifies title of the page !-->
        <title>Pigeons</title>
    <head>
    <body>
    <p>Pigeons are awesome. They are very funny and entertaining and are varied in color.</p>
    <p>Pigeons are friendly, unlike geese. Geese are evil.</p>
    <p>Many people underestimate pigeons. This may be because they have always been warned against letting them drive buses.</p>
    <p>But once people learn what pigeons can do, they will be amazed.</p>
    <p>Pigeons are great at flying and compete in both short- and long-distance races.</p>
    <p>They also take great care of their young by building nests in safe, secluded areas.</p>
    <p>Pigeons are awesome.</p>
    </body>
    

</html>